<header>
    <h1>ABEL LEARNS EMBER JS FRAMEWORK</h1>
</header>

<nav>
    {{#link-to "index"}}
        Home
    {{/link-to}}
    {{#link-to "about"}}
        About
    {{/link-to}}
        {{#link-to "contact"}}
        Contact
    {{/link-to}}
    {{#link-to "contact.department" "skaterdav85"}}
        David
    {{/link-to}}
    {{#link-to "contact.department" "octocat"}}
        octocat
    {{/link-to}}
</nav>

{{outlet}}

<footer>
    <p>&copy; Supahands</p>
</footer>